.chart {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 30px 0;
}

.chart:after,
.chart__popup__column:after,
.chart__checks:after {
  content: '';
  display: block;
  clear: both;
}

.chart__canvases {
  position: relative;
  height: 364px;
}

.chart__canvas,
.chart__preview-ui {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chart__canvas {
  z-index: 0;
  top: 0;
  height: 100%;
}

.chart__preview-ui {
  position: absolute;
  z-index: 1;
}

.chart--dark {
  background-color: #242f3e;
  color: white;
}

.titles-container {
  margin: 0 11px 15px 15px;
  position: relative;
  height: 16px;
}

.chart-title {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.title-dates {
  position: absolute;
  right: 15px;
  top: 33px;
  height: 16px;
  margin-bottom: 0;
  padding-top: 0;
  margin-left: 11px;
  width: 100%;
  text-align: right;
  pointer-events: none;
  font-size: 13px;
  line-height: 16px;
}

.title-dates span {
  position: absolute;
}

.chart__zoom {
  width: 100%;
  cursor: pointer;
}

.chart__zoom__text {
  font-weight: bold;
  font-size: 16px;
  color: #108be3;
  white-space: nowrap;
}

.chart__zoom__icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  float: left;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23108be3' id='XMLID_232_' d='m27.414,24.586l-5.077,-5.077c1.049,-1.581 1.663,-3.474 1.663,-5.509c0,-5.514 -4.486,-10 -10,-10s-10,4.486 -10,10s4.486,10 10,10c2.035,0 3.928,-0.614 5.509,-1.663l5.077,5.077c0.78,0.781 2.048,0.781 2.828,0c0.781,-0.781 0.781,-2.047 0,-2.828zm-20.414,-10.586c0,-3.86 3.14,-7 7,-7s7,3.14 7,7s-3.14,7 -7,7s-7,-3.14 -7,-7z'/%3E%3Cpath fill='%23108be3' id='XMLID_235_' d='m19,14c0,0.552 -0.448,1 -1,1l-8,0c-0.552,0 -1,-0.448 -1,-1s0.448,-1 1,-1l8,0c0.552,0 1,0.448 1,1z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 23px;
  background-position: -3px -3px;
}

.chart__popup {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0px #bfbfbf;
  min-width: 160px;
  color: black;
  padding: 8px 0 10px;
  transform: translateZ(0); // old browsers
  will-change: transform;
}

.chart--dark .chart__popup {
  background: #1c2533;
  box-shadow: none;
  color: #fff;
}

.chart__popup__content {
  overflow-y: auto;
  padding: 0 5px;
}

.chart__popup__title {
  position: relative;
  font-size: 13px;
  margin: 0 8px 15px 13px;
  font-weight: bold;
  height: 13px;
}

.chart__popup__arrow-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' style='enable-background:new 0 0 492.004 492.004;' xml:space='preserve'%3E%3Cg%3E%3Cg fill='%23d2d5d7'%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.chart__popup__column {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.chart__popup__percent,
.chart__popup__label {
  margin-right: 10px;
}

.chart__popup__percent {
  position: relative;
  float: left;
  font-size: 13px;
  font-weight: bold;
  width: 35px;
  height: 13px;
  text-align: right;
}

.chart__popup__label {
  float: left;
  font-size: 13px;
  margin-right: 10px;
}

.chart__popup__value {
  position: relative;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
  height: 13px;
  float: right;
  white-space: nowrap;
  min-width: 80px;
}

.chart__checks {
  padding-left: 16px;
  padding-right: 16px;
}

.chart__checkbox {
  box-sizing: border-box;
  display: block;
  border-radius: 40px;
  border: 2px solid;
  padding: 8px 22px;
  margin-right: 6px;
  position: relative;
  cursor: pointer;
  float: left;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 300ms ease, color 300ms ease, padding 300ms cubic-bezier(0.175, 0.885, 0.32, 1.6);
}

.chart__checkbox--checked {
  color: #fff;
  padding-left: 30px;
  padding-right: 14px;
}

.chart__checkbox__symbol {
  display: block;
  position: absolute;
  left: 10px;
  top: 0.55em;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg style='enable-background:new 0 0 24 24;' fill='%23fff' version='1.1' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6 c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(0, 0);
  background-position: 0 0;
  opacity: 0;
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.chart__checkbox--checked .chart__checkbox__symbol {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.6);
}

.chart__checkbox--shake {
  animation: checkbox-shake-animation 0.4s cubic-bezier(0.500, 0.250, 0.500, 0.750) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes checkbox-shake-animation {
  10% {
    transform: translate3d(-3px, 0, 0);
  }

  30% {
    transform: translate3d(2px, 0, 0);
  }

  50% {
    transform: translate3d(-2px, 0, 0);
  }

  70% {
    transform: translate3d(1px, 0, 0);
  }

  90% {
    transform: translate3d(-1px, 0, 0);
  }
}

.align-left {
  left: 0;
}

.align-right {
  right: 0;
}

.chart__animated {
  position: absolute;
  top: 0;
  transition: transform 300ms linear, opacity 300ms linear;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.hidden {
  opacity: 0 !important;
  transform: scale(0) !important;
}

.hidden-with-display {
  display: none;
}


.animated-top-left {
  transform-origin: top left;
  left: 0;
  top: 0;
}

.animated-top-right {
  transform-origin: top right;
  right: 0;
  top: 0;
}

.animated-bottom-left {
  transform-origin: bottom left;
  left: 0;
  bottom: 0;
}

.animated-bottom-right {
  transform-origin: bottom right;
  right: 0;
  bottom: 0;
}
