doctype html
html lang="ru"
  head
    meta charset="UTF-8"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover, shrink-to-fit=no" name="viewport"
    meta content="ie=edge" http-equiv="X-UA-Compatible"
    meta name="apple-mobile-web-app-capable" content="yes"
    title Telegram Charts - Stage 3
    link rel="icon" href="favicon.ico" type="image/x-icon"
    link rel="stylesheet" type="text/css" href="styles/app.css"
    link rel="stylesheet" type="text/css" href="styles/chart.css"

  body
    main
      .charts
      .buttons
        button onclick="onChangeTheme(event)" Switch to Night Mode

      script src="chart.js" type="application/javascript" defer="true"
      script src="app.js" type="application/javascript" defer="true"
